*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  color: $color-secondary;
  background-color: $color-white;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(60deg, #1a222a 0%, #132334 100%);
    color: $color-white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 10px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}