$color-accents-alt: #6236FF;
$color-bonkers: #56c55d;
$color-bonkers-mint: #31d277;
$color-dark: #141f2b;
$color-danger: #f2545b;
$color-orange: #f46036;
$color-orange-alt: #ff8f59;
$color-secondary: #32374B;
$color-secondary-alt: #F4F5F8;
$color-white: #fff;

$border-radius: 16px;

$width-mobile: 600px;
$width-tablet: 900px;
$width-desktop: 1200px;